.image {
	width: 100%;
	height: var(--img-size);
	object-fit: cover;
}

.circuleWrapper {
	border-radius: calc(var(--img-size) / 2);
}

.leafWrapper {
	border-top-left-radius: calc(var(--img-size) / 2);
	border-bottom-right-radius: calc(var(--img-size) / 2);
}

.title {
	color: var(--grey-dark);
	font-size: 28px;
	line-height: 100%;
	letter-spacing: -0.056px;
	margin-top: 32px;
	flex: 1;
}

.date {
	color: var(--grey-medium-light);
	font-size: 18px;
	font-weight: 500;
	line-height: 100%;
}

article {
	display: flex;
	flex-direction: column;
}

@media (max-width: 1300px) {
	.title {
		font-size: 26px;
	}

	.date {
		color: var(--grey-medium-light);
		font-size: 16px;
	}
}

@media (max-width: 772px) {
	.title {
		font-size: 18px;
	}

	.date {
		font-size: 12px;
	}
}

@media (max-width: 420px) {
	.title {
		font-size: 12px;
		margin-top: 20px;
	}

	.date {
		font-size: 10px;
	}
}
