:root {
	font-family: Raleway, sans-serif;
	font-weight: 600;
	overflow-x: hidden;

	--grey-medium-dark: #7884a5;
	--Black: #292e3d;
	--disabled-arrow: #c9d0e1;
	--grey-dark: #525c7a;
	--grey-medium-light: #a2acc7;

	--img-size: 344px;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

@media (max-width: 772px) {
	:root {
		--img-size: 200px;
	}
}

@media (max-width: 490px) {
	:root {
		--img-size: 150px;
	}
}

@media (max-width: 400px) {
	:root {
		--img-size: 120px;
	}
}
